.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

/* .w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}} */


.hero.has-background{
    position: relative;
    overflow: hidden; 
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    }
.hero-background.is-transparent {
    opacity: 1;
    }
.button{
    opacity: 0.3;
}

.header-title {
    color: white;
    font-family: 'Galada', cursive;
    font-size: 50px;
    /* float: left; */
}

.header-subtitle, .tabs {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: large;
    /* float:left; */
}

      
.tabs a {
    color: white;
}